* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures consistent box model */
}

#navbar{
display: flex;
position: relative;
font-family: "Baloo Bhaijaan 2", serif;
font-weight: 700;
}

#logo{
    margin: 0px 28px;
}

#logo img{
    height: 68px;
    margin: 8px 29px;
}

#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
    top: 0px;
    left: 0px;
}
#navbar ul li{
    list-style: none;
    font-size: 17px;
   
}

#navbar ul li a{
    margin-top: 17px;
    margin-left: 6px;
    color: white;
    display: block;
    padding: 15px 45px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    }



#HOME::before{
    content: "";
    background: url('../bgimg.jpg')no-repeat center center / cover;
    position: absolute;
    height: 432px;
    width: 100%;
    opacity: 0.9;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#HOME {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    height: 324px;
}
#HOME p{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-size: 20px;
}

#HOME h1{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
    
      
}


#services{
    margin: 11px;
    display: flex;
    justify-content: space-between;
}

#services .box{
    border: 2px solid red;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin: 6px 17px;
    background-color: #f7f4f4;
    height: 300px;
}

#services .box img{
    height: 166px;
    margin: auto;
    display: block;
    width: 50%;
    object-fit: cover;
}
#services .box h2 {
  
    padding: 5px;
}
#services .box p {
    font-size: 19px;
}
.h-primary{
    padding: 20px;
    font-size: 34px;
    font-family: "Bree Serif", serif;
}
.h-secondary{
    padding: 20px;
    font-size: 20px;
    font-family: "Bree Serif", serif;
}


.Ordernow{
    padding: 5px 5px;
    border: 2px solid white;
    background-color: #7a7777;;
    margin: 17px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Bree Serif", serif;
}

.center{
    text-align: center;
}

#client-section{
     height: 344px;
     position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bgimg3.png')no-repeat center center / cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}


#Clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Clients img{
    height: 124px;
}

.Client-items{
    padding: 30px;
}

#Clients .steakhouse img{
    height: 215px;
    width: 200px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background: url('../contact.png') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 20px;
    font-family: "Bree Serif", serif;

}